*{<meta charset="utf-8">}*
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP" xml:lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="@{'/public/javascripts/jquery.js'}"></script>
  <script type="text/javascript" src="@{'/public/javascripts/create-food-database.js'}"></script>
  <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/recipe-card.css'}"></link>
  <title>CreateFoodDatabase</title>
</head>
<body>
<h2>楽天APIからFoodDatabaseを作成中</h2>
</body>
</html>